.footer__menu {
    padding: 0;
    display: grid;
    gap: 18px;
    grid-auto-flow:column;
    margin: 0;
}

@media (max-width: 660px) {
    .footer__menu {
        gap: 32px;
        grid-auto-flow:row;
    }
}