.footer__menu {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
    justify-content: space-between;
    margin: 0;
}

@media (max-width: 660px) {
    .footer__menu {
        padding: 0;
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: repeat(5, min-content);
        gap: 32px;
        justify-content: space-between;
    }
}