.intro {
    max-width: calc(100% - 590px);
    margin: 0 442px 0 148px;
    padding: 92px 0 0 0;

}

@media (max-width: 1024px) {
    .intro {
        max-width: calc(100% - 334px);
        margin-right: 286px;
        margin-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: calc(100% - 48px);
        margin-right: auto;
        margin-left: auto;
        padding-top: 88px;
    }
}

@media (max-width: 425px) {
    .intro {
        max-width: calc(100% - 32px);
        padding-top: 64px;
    }
}
