.photo-grid__items {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px 13px;
}

@media (max-width: 1024px) {
    .photo-grid__items {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 14px;
    }
}

@media (max-width: 768px) {
    .photo-grid__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 12.3px 16px;
    }
}

@media (max-width: 425px) {
    .photo-grid__items {
        grid-template-columns: repeat(1, 1fr);
        gap: 8.5px;
    }
}
